<h2>Edit your band: <%=@band.name %></h2>

<form class="" action="<%=band_url(@band)%>" method="post">
  <input type="hidden" name="_method" value="patch">

  <input type="hidden" name="authenticity_token" value='<%= form_authenticity_token %>'/>
<br>
  <label>
    Name:
    <input type="text" name="band[name]" value="<%= @band.name %>">
  </label>
  <br>
  <input type="submit" name="" value="Edit Band">
</form>

<br>
<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <%= error %>
  <% end %>
<% end %>
<br>
<br>
<a href="<%= bands_url %>">Back to all bands</a>
